$cordefundo: #F3DC89;


body {
 
}



.container__slider {
    position: absolute;
    background-color: $cordefundo;
    width: 1920px;
    height: 768px;

 .mulher {
        display: flex;
        width: 446px;
        height: 642px;
        right: 40px;
        padding-left: 60px;
        margin-top: 125px;
        animation-name: fade;
        animation-duration: 2s;
    }

}


@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}



.container__text {
    position: absolute;
    font-family: 'Quicksand', sans-serif;

    
    h1{ 
    padding-left:  480px;
    padding-top: 220px;
    line-height: 45px;
    font-size: 18px;

    }
    
    h2 {
        font-size: 16px;
        line-height: 30px;
    }

   .redes-sociais{
    float: left;
    padding-left: -80px;
    padding: -50px;
    margin-top: -70px;
    margin-left: -100px;
}

.container__logo {
    position: absolute;
    margin-top: -270px;
    padding-left: 40px;
    animation-name: fade;
    animation-duration: 2s;
}







