$cordefundo: #F3DC89;

body {
  margin: auto;
}

.container__slider {
    background-color: $cordefundo;
    width: 1920px;
    height: 768px;

    img {
        width: 446px;
        height: 642px;
        right: 25px;
    }
}